@charset "utf-8";
/* CSS Document */

	.slide_cont{
		background:url(images/splashes/id_2.jpg) no-repeat #000 center;
		background-size:contain;
		width:1110px;
		border: 5px solid #000;
	}
	.slide_min{
		background:url(images/color_grey_103.jpg);
		height:200px;
		width:1110px;
		-webkit-transition:height 1s;
		-moz-transition: height 1s;
		-ms-transition: height 1s;
		-o-transition: height 1s;
		
	}
	.minislide{
		  width: 109px;
		  height: 100%;
		  float: left;
		  border: 1px solid #000;
		  -webkit-transition: width 1s;
		  -moz-transition: width 1s;
		  -ms-transition: width 1s;
		  -o-transition: width 1s;
		  
		  -webkit-filter: brightness(0.85);/* Chrome y Safari */
	      -moz-filter: brightness(0.85);/* Mozilla */
		  -ms-filter: brightness(0.85);/* Internet Explorer */
		  -o-filter:  brightness(0.85);/* Opera */
	}
	.minislide:hover{
		-webkit-transition: all 1s;
		-moz-transition: all 1s;
		-ms-transition: all 1s;
		-o-transition: all 1s;
		  
		-webkit-filter: brightness(1);
	}
	
	.slide_max{
		background:url(images/color_grey_103.jpg);
		height:450px;
		width:1110px;
				  -webkit-transition:height 1s;
		  -moz-transition: height 1s;
		  -ms-transition: height 1s;
		  -o-transition: height 1s;
	}
	.notarget{
		width:38px;
		-webkit-transition: width 1s;
	    -moz-transition: width 1s;
		-ms-transition: width 1s;
		-o-transition: width 1s;
	}
	.target{
		width:748px;
		-webkit-transition: width 1s;
		-moz-transition: width 1s;
		-ms-transition: width 1s;
		-o-transition: width 1s;
	}
	.slide_cont .close{
		height:32px;
		width:32px;
		position:absolute;
		background:url(images/botonX.png) no-repeat;
		background-size:cover;
		margin: -15px 0 0 1095px;
	}